<% provide(:title, "Home") %>

<div class='text-center'>
  <h1>Tabetterへようこそ！</h1>
  <h2 class='home-detail'>食べたものや作ったものなど、どんどん共有しよう。</h2>
  <%= link_to "今すぐ登録！", signup_path, class: "btn btn-lg btn-success" %>
</div>
