<% provide(:title, "登録") %>
<% provide(:path, signup_path) %>
<% provide(:btn, "登録！") %>

<h1>アカウント登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "users/form" %>
  </div>
</div>