<header class='navbar navbar-fixed-top bg-main-color'>
  <div class='container'>
    <%= link_to "Tabetter", root_path, class: 'header-logo' %>
    <nav>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to "Home", root_path, class: "header-nav" %></li>
        <li><%= link_to "About", about_path, class: "header-nav" %></li>
        <li><%= link_to "Log in", "#", class: "header-nav" %></li>
      </ul>
    </nav>
  </div>
</header>